# Express Server Configuration
PORT=5000
JWT_SECRET=hidden_strengths_secret_jwt_key_2026
APP_URL=http://localhost:5173

# Stripe API Keys (For Live or Test accounts)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
